stages:
  - lint
  - test

lint-job:
  stage: lint
  image: python:3.12.7
  script:
    - pip install poetry black isort pyright
    - echo $?
    - poetry config installer.max-workers 1
    - echo $?
    - poetry install
    - echo $?
    - black --check --diff . || FAILED=1
    - echo $?
    - isort --profile=black --check-only . || FAILED=1
    - echo $?
    - poetry run pyright || FAILED=1
    - echo $?

unit-test-job:
  stage: test
  image: python:3.12.7
  script:
    - pip install poetry
    - poetry install
    - poetry run python -m unittest discover -s tests -p "test_*.py"
